html{
    box-sizing: border-box;
    max-height: 100%;
}
*,
*::after,
*::before{
    box-sizing: inherit;
}
body{
    @include f400;
}
.ibg{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    }
    .ibg img{
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    }
.container{
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}