@import "fonts";
@import "vars";
@import "global";
@import "icomoon";


.header {
    &__wrapper {
        background-image: url('../images/bg-header.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    &__menu {
        li{ 
            display: inline-block;
            list-style: none;
            &:first-child{
                a{
                    color: $aqua;
                }
            }
            &+li{
                margin-left: 30px;
            }
            a{
                text-decoration: none;
                color: $text;
                letter-spacing: 1.2px;
                text-transform: uppercase;
                line-height: 24px;
                font-size: 12px;
                @include f500;
            }
        }
    }
    &__description {
        display: flex;
        justify-content: flex-end;
    }
    &__inner{
        padding-top: 135px;
        padding-bottom: 200px;
    }
    &__title {
        color: $text;
        @include f500;
        letter-spacing: 0.38px;
        line-height: 48px;
        font-size: 38px;
    }
    &__text {
        padding-top: 30px;
        line-height: 28px;
        color: #787878;
        letter-spacing: 0.09px;
        @include nunito;
    }   
    &__button {
        padding-top: 39px;
        a{  
            display: inline-block;
            text-decoration: none;
            color: #fff;
            background-color: $aqua;
            padding: 22px 47px;
            transition: .3s;
            &:hover{
                transform: scale(0.9);
                transition: .3s;
            }
        }
    }
}



//about

.about {
    &__wrapper{
        padding: 100px 0px;
        display: flex;
        justify-content: center;
    }
    &__inner{
        flex-basis: calc(50%);
        text-align: center;
    }
    &__title {
        line-height: 60px;
        font-size: 30px;
        letter-spacing: 0.3px;
        @include f500;
        color: $text;
    }
    &__text {
        padding-top: 16px;
        line-height: 24px;
        letter-spacing: 0.08px;
        font-size: 16px;
        color: #787878;
    }
    &__image {
        padding-top: 40px;
    }
}


//about end

//skills

.skills {
    background-color: #f8f9f9;
    &__wrapper {
        display: flex;
        
    }
    &__title {
        padding-bottom: 15px;
        @include f500;
        font-size: 30px;
        line-height: 84px;
        letter-spacing: 0.3px;
        color: $text;
        padding-top: 165px;
    }
    &__scale {
        width: 100%;
        padding-left: 80px;
        padding-right: 80px;
    }
    &__name {
        font-size: 12px;
        line-height: 30px;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        color:$text;
        padding-bottom: 20px;
        padding-top: 40px;
        @include f500;
        span{
            color:$text;
            padding-left: 10px;
        }
    }
    &__container {
        width: 100%;
        height: 3px;
        background-color: #d8d8d8;
        z-index: 3;
        height: 3px;
    }
    &__ui {
        width: 75%;
        background-color: $aqua;
        z-index: 3;
        height: 3px;
    }
    &__web-dev {
        width: 90%;
        background-color: $aqua;
        z-index: 3;
        height: 3px;
    }
    &__marketing {
        width: 65%;
        background-color: $aqua;
        z-index: 3;
        height: 3px;
    }
    &__img {
    background-image: url('../images/skills.jpg');

   padding-right: 27%;
   padding-left: 27%;
    }
    .padding{
        padding-bottom: 165px;
    }
}


//skills end

//stat

.stat {
    background-color: $aqua;
    &__wrapper {
        padding: 100px 0px;
        display: flex;
        justify-content: space-around;
    }
    &__item {
        color: #fff;
        @include f500;
        position: relative;
        &::before{
            position: absolute;
            content: '';
            top: 2px;
            left: -70px;
            background-image: url('../images/icons/bag.png');
            background-position: center;
            background-repeat: no-repeat;
            width: 50px;
            height: 50px;
        }
        &:nth-child(2){
            &::before{
                position: absolute;
                content: '';
                top: 2px;
                left: -70px;
                background-image: url('../images/icons/clocks.png');
                background-position: center;
                background-repeat: no-repeat;
                width: 50px;
                height: 50px;
            }
        }
        &:nth-child(3){
            &::before{
                position: absolute;
                content: '';
                top: 2px;
                left: -70px;
                background-image: url('../images/icons/star.png');
                background-position: center;
                background-repeat: no-repeat;
                width: 50px;
                height: 50px;
            }
        }
        &:nth-child(4){
            &::before{
                position: absolute;
                content: '';
                top: 2px;
                left: -70px;
                background-image: url('../images/icons/heart.png');
                background-position: center;
                background-repeat: no-repeat;
                width: 50px;
                height: 50px;
            }
        }
    }
    &__amount {
        font-size: 18px;
        line-height: 30px;
        letter-spacing: 0.54px;
        text-transform: uppercase;
    }
    &__subject {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        line-height: 30px;
    }
}


//stat end

//works

.works {
    &__images {
        display: flex;
        flex-wrap: wrap;
    }
    &__image {
        flex-basis: calc(25%);
        left: 0;
        height: 300px;
        width: 341px;
        position: relative;
        overflow: hidden;
        display: block;
        &:hover{
            .works__tint{
                transform: translateY(0px);
                transition: transform .3s ease-in-out;
            }
        }
    }
    &__tint{
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #141414;
        opacity: 0.85;
        background-repeat: no-repeat;
        transform: translateY(500px);
        transition: transform .5s ease-in;
        &::after{
            position: absolute;
            content: '';
            background-repeat: no-repeat;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: url('../images/icons/eye.png');
            background-position: center;
        }
        
    }
    &__moreworks {
        text-align: center;
        background-color: #f5f5f5;
        a{
        font-size: 12px;
        @include f500;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        color: #8e8e8e;
        padding: 45px 0px;
        text-decoration: none;
        display: inline-block;
        }
       
    }
}


//worksend


//video

.video {
    &__wrapper{
        display: flex;
        padding: 100px 0px;
    }
    &__inner{
        flex-basis: calc(100%);
        text-align: center;
    }
    &__title {
        flex-basis: calc(20%);
        color: $text;
        @include f500;
        line-height: 60px;
        letter-spacing: 0.3px;
        font-size: 30px;
    }
    &__text {
        font-size: 16px;
        max-width: 550px;
        margin: 0 auto;
        @include f400;
        line-height: 24px;
        letter-spacing: 0.08px;
        color: #787878;
        padding-bottom: 55px;
        padding-top: 20px;
    }
    .video-js{
        width: 100%;
        height: 571px;
    }
    .vjs-poster{
        background-size: cover;
    }
    .video-js .vjs-big-play-button {
        border: none;
        top: 50%;
        bottom: 50%;
        left: 47%;
        right: 50%;
        background-color: $aqua;
        border-radius: 50%;
        width: 85px;
        height: 85px;
        outline: none;
    }
    .video-js .vjs-big-play-button .vjs-icon-placeholder:before {
        top: 18px;
    }
}



//video end


//services

.services {
    padding: 100px 0px;
    background-color: #f5f5f5;
    &__items {
        display: flex;
        flex-wrap: wrap;
    }
}

.services-item {
    padding: 0px 30px;
    flex-basis: calc(25%);
    text-align: center;
    &:nth-child(5),
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8){
        padding-top: 60px;
    }
    &__title {
        padding-top: 20px;
        color: $text;
        font-size: 12px;
        line-height: 30px;
        text-transform: uppercase;
        @include f500;
        letter-spacing: 1.2px;
    }
    &__text {
        @include nunito;
        letter-spacing: 0.08px;
        line-height: 24px;
        font-size: 16px;
        color: #787878;
    }
    
}

//services end

//slider

.slider {
    background-color: $aqua;
    padding-top: 180px;
    padding-bottom: 60px;
    &__item {
        margin: 0 auto;
        width: calc(70%);
    }
    &__text {
        text-align: center;
        color: #fff;
        @include f500;
        line-height: 36px;
        font-size: 24px;
        span{
            font-size: 30px;
            letter-spacing: 0.3px;
        }
    }
    &__signature {
        font-size: 12px;
        @include f500;
        line-height: 36px;
        letter-spacing: 1.2px;
        text-transform: uppercase;
        color: #fff;
        text-align: center;
        padding-top: 35px;
    }
}

.slick-dots{
    height: 10px;
    padding-top: 100px;
    display: flex;
    justify-content: center;
    padding-left:0px;
    padding-bottom: 5px;
    .slick-active{
        button{
            width: 17px;
            height: 16px;
            background-color: #fff;
            transition: all .3s;
        }
    }
    li{
        list-style: none;
        &+li{
            margin-left: 12px;
        }
        button{
            width: 10px;
            height: 12px;
            font-size: 0px;
            background-color: #b0e8e6;
            outline: none;
            border:none;
            border-radius: 50%;  
            transition: all .3s;
            cursor: pointer;
        }
    }
}



//slider end


//collaboration

.colaboration {
    &__wrapper {
        display: flex;
        flex-wrap:wrap;
        padding: 60px 0px;
    }
    &__img{
        width: (20%);
        text-align: center;
    }
}

//collaboration end

// form 

.form {
    padding-bottom: 100px;
    background-color: #f5f5f5;
    &__wrapper {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    &__block {
        margin: 0 auto;
        text-align: center;
        width: calc(55%);
    }
    &__title {
        @include f500;
        font-size: 30px;
        line-height: 84px;
        letter-spacing:.1px;
        color: $text;
    }
    &__text {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: .5px;
        color: #898989;
    }
    &__inner {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width: calc(55%);
        justify-content: space-between;
        margin-top: 40px;
        input{
            font-size: 15px;
            line-height: 24px;
            padding: 20px 20px;
            border: none;
            background-color: #fff;
            display: block;
            outline: none;
            color: #898989;
           
        }
        textarea{
            margin-top: 20px;
            border: none;
            font-size: 15px;
            line-height: 24px;
            padding: 20px;
            display: block;
            outline: none;
            resize: none;
        }
        button{
            cursor: pointer;
            display: inline-block;
            text-decoration: none;
            color: #fff;
            background-color: $aqua;
            padding: 15px 30px;
            margin: 0 auto;
            margin-top: 30px;
            border: none;
            text-transform: uppercase;
            letter-spacing: 1px;
            transition: .3s;
            &:hover{
                transform: scale(0.9);
                transition: .3s;
            }
        }
    }
    &__input{
            width: calc(47%);
    }
     &__input--full{
        margin-top: 20px;
        width: calc(100%);
     }
}


// form end

//footer

.footer {
    padding: 80px 0px;
    ul{
        padding-left: 0px;
    }
    background-color: #141414;
    #footer__a{   
            color: #ffffff;
           text-decoration: none;
           @include f500;
           line-height: 72px;
           letter-spacing: 0.18px;
           font-size: 18px;
           color: #fff;
    
    }
    &__wrapper {
        display: flex;
    }
    &__colunn {
        
        li{
            list-style: none;
            color: #bcbcbc;
        }
        a{
            text-decoration: none;
            @include nunito;
            font-size: 15px;
            letter-spacing: 0.07px;
            line-height: 24px;
            color: #bcbcbc;
            transition: .3s;
            &:hover{
                color: $aqua;
                transition: .1s;
            }
        }

    }
    .footer__colunn--width1{
        width: calc(30%);
    }
    .footer__colunn--width2{
        padding-left: 80px;
        width: calc(40%);
        display: flex;
        justify-content: center;
    }
    .footer__colunn--width3{
        width: calc(10%);
        display: flex;
        justify-content: flex-end;
    }
    .footer__colunn--width4{
        width: calc(10%);
         display: flex;
        justify-content: flex-end;
    }
    .footer__colunn--width5{
        display: flex;
        justify-content: flex-end;
        width: calc(20%);
    }
}


//footer end


//header-about

.header-about {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 35px 0px;
    }
    &__menu {
        ul{
            li{
                list-style: none;
                display: inline-block;
                &+li{
                    margin-left: 30px;
                }
                a{
                    text-decoration: none;
                    @include f500;
                    color: #191919;
                    font-size: 12px;
                    line-height: 24px;
                    text-transform: uppercase;
                    letter-spacing: 1.2px;
                }
            }
        }
    }
    .light{
        a{
            color: $aqua; 
        } 
    }
}


//header-about end


//presentation

.presentation {
    &__wrapper {
        display: flex;
        justify-content: center;
        background-image: url('../images/bg-about-page.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position:center;
        padding: 120px 0px;
        position: relative;
    }
    &__inner {
        position: relative;
        z-index: 2;
        text-align: center;
        width: calc(42%);
        color: #fff;
    }
    &__title {
        @include f500;
        font-size: 38px;
        line-height: 48px;
        letter-spacing: 0.38px;
    }
    &__descr {
        font-size: 18px;
        @include nunito;
        letter-spacing: 0.09px;
        line-height: 28px;
    }
    &__rectangle{
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #141414;
        opacity: 0.6;
    }
}


//presentation end


//about me

.about-me {
    &__wrapper{
        display: flex;
    }
    &__inner {
        flex-basis: calc(110%);
        background-color: $gray;
        padding-left: 85px;
        padding-top: 140px;
    }
    &__presentation{
        width: calc(60%);
    }
    &__title {
        @include f500;
        font-size: 30px;
        line-height: 84px;
        letter-spacing: 0.3px;
        color: #171717;
    }
    &__text {
        @include nunito;
        line-height: 24px;
        font-size: 16px;
        letter-spacing: 0.08px;
        color: #787878;
        &:nth-child(3){
            padding-top: 16px;
        }
    }
    &__signature{
        padding-top: 40px;
    }
}


//about me end


//make-action

.make-action {
    &__wrapper{
        display: flex;
        justify-content: center;
    }
    &__inner{
        padding: 70px 0px;
        padding-top: 50px;
        text-align: center;
        width: calc(46%);
    }
    &__title {
        @include f500;
        line-height: 84px;
        font-size: 30px;
        letter-spacing: 0.3px;
        color: $text;
    }
    &__text {
        @include nunito;
        letter-spacing: 0.08px;
        line-height: 24px;
        font-size: 16px;
        color: #787878;
        padding-bottom: 40px;
        padding-top: 16px;
    }
    &__link {
        a{
            display: inline-block;
            text-decoration: none;
            padding: 20px 45px;
            background-color: $aqua;
            text-transform: uppercase;
            color: #fff;
            transition: all.3s;
            &:hover{
                transform: scale(.7);
                transition: all.3s;
            }
        }
    }
}

//make-action end


//brief

.brief {
    background-color: #f6f6f6;
    &__wrapper {
        padding: 95px 0px;
        display: flex;
        justify-content:space-between;
    }
    &__inner {
        flex-basis: calc(47%);
        text-align: center;
        margin: 0 auto;
    }
    &__title {
        @include f500;
        color: $text;
        font-size: 38px;
        line-height: 84px;
        letter-spacing: 0.38px;
    }
    &__text {
        padding-top: 10px;
        @include nunito;
        font-size: 18px;
        letter-spacing: 0.09px;
        line-height: 28px;
        color: #787878;
    }
    &__items {
        display: flex;
        flex-wrap: wrap;
    }
    &__item {
        flex-basis: calc(25%);
        left: 0;
        height: 300px;
        width: 341px;
        position: relative;
        overflow: hidden;
        display: block;
        &:hover{
            .brief__tint{
                transform: translateY(0px);
                transition: transform .3s ease-in-out;
            }
        }
    }
    &__tint {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $aqua;
        opacity: 0.85;
        background-repeat: no-repeat;
        transform: translateY(500px);
        transition: transform .5s ease-in;
        &::after{
            position: absolute;
            content: '';
            background-repeat: no-repeat;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: url('../images/icons/eye.png');
            background-position: center;
        }
    }
}

//brief end


// contacts

.contact-info {
    padding-bottom: 100px;
    background-color: #f5f5f5;
    &___wrapper {
        padding: 100px 0px;
        display: flex;
        justify-content: space-between;
    }
    &__inner {
        flex-basis: calc(45%);
    }
    &__title {
        @include f500;
        font-weight: 700;
        color: $text;
        font-size: 30px;
        line-height: 84px;
        letter-spacing: 0.3px;
    }
    &__text {
        @include nunito;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.08px;
        color: #787878;
    }
    &__ul {
        padding-left: 0px;
        li{
            list-style: none;
            &:nth-child(1){
                margin-top: 35px;
            }
            &+li{
                margin-top: 25px;
            }
            span{
                @include nunito;
                font-weight: 700;
                letter-spacing: 0.08px;
                padding-right: 10px;
            }
            a{
                text-decoration: none;
                color: #787878;
                @include nunito;
            }
        }
    }
    .form__inner--contacts{
        margin: 0px;
        width: calc(90%);
        margin-left: auto;
        textarea{
            width: 100% !important;
        }
        button{
            margin-left: 0px;
        }
    }
 
}
   #map{
       iframe{
          height: 470px;
        width: 100%;  
       } 
    }
// contacts end


//slider-slider

.slider-slider {
    position: relative;
    &__box{
        position: absolute;
        top: 107.5%;
        left: 50%;
    }
    margin-bottom: 100px;
    &__wrapper{
        min-width: 0;
    }
    &__inner {
        display: flex !important;
        background-color: $gray;
        min-width: 0;
    }
    &__item {
      width: calc(84%);
      padding: 80px 100px 0px 100px;
    }
    &__title {
        @include f500;
        font-size: 38px;
        line-height: 84px;
        letter-spacing: 0.38px;
        color: $text;
    }
    .i{
        padding-top: 30px;
    }
    &__text {
        @include nunito;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.08px;
        color: #787878;
    }
    &__ul {
            padding-left: 0px;
            li{ 
                &+li{
                    padding-top: 15px;
                }
                span{
                    @include nunito;
                    font-weight: 700;
                    color: $text;
                    padding-right: 10px;
                }
                list-style: none;
                color: #787878;
                line-height: 24px;
                letter-spacing: 0.08px;
                a{
                    text-decoration: none;
                    color: #787878;
                    line-height: 24px;
                    letter-spacing: 0.08px;
                    outline: none;
                }
            }
    
    }
    &__image{
        width: calc(100%);
    }
    .slider-slider{
        position: relative;
        outline: none;
    }

    .slick-prev{
        position: absolute;
        bottom: -60px;
        left: 90px;
        padding-left: 30px;
        border: none;
        @include f500;
        font-weight: 700;
        outline: none;
        background-color: #fff;
        cursor: pointer;
        font-size: 12px;
        &::before{
            position: absolute;
            content: '';
            width: 10px;
            height: 10px;
            top: 2px;
            left: 3px;
            background-image: url('../images/arrow-2.png');
            background-repeat: no-repeat;
        }
    }
    .slick-next{
        position: absolute;
        bottom: -60px;
        right: 90px;
        padding-right: 30px;
        border: none;
        @include f500;
        font-weight: 700;
        outline: none;
        background-color: #fff;
        cursor: pointer;
        font-size: 12px;
        &::after{
            position: absolute;
            content: '';
            width: 10px;
            height: 10px;
            top: 2px;
            right: 3px;
            background-image: url('../images/arrow-1.png');
            background-repeat: no-repeat;
        }
    }
}



//slider-slider end

@import "media";